%button {
	width: 80%;
	padding: 20px 40px;
	margin: 20px 0;
	border-radius: 20px;
	outline: none;
	font-size: 1rem;
	text-transform: uppercase;
	cursor: pointer;
	transition: transform 200ms ease-in-out;
}

%button:hover {
	transform: scale(1.1);
}

.initial {
	@extend %button;
	border: 2px solid #86efac;
	color: #86efac;
	background-color: #333;
}

.playing {
	@extend %button;
	border: none;
	color: white;
	background-color: #333;
}

.paused {
	@extend %button;
	border: 2px solid #fdba74;
	color: #fdba74;
	background-color: #333;
}

.over {
	@extend %button;
	border: 2px solid #dc2626;
	color: #dc2626;
	background-color: #333;
}
