$stage-height: 20;
$stage-width: 12;
$block-size: 20px;

.stage {
	display: grid;
	grid-template-columns: repeat($stage-width, $block-size);
	grid-template-rows: repeat($stage-height, $block-size);
	grid-gap: 1px;
	border: 1px solid #262626;
	background-color: #262626;
}
