.about {
	background-color: var(--clr-dark);
	color: var(--clr-light);
	text-align: center;
}

.about__title {
	color: var(--clr-accent);
	position: relative;
	margin-bottom: 1rem;
}

.about__title::after {
	content: "";
	display: block;
	width: 12rem;
	height: 1px;
	margin: 1rem auto;
	background: var(--clr-light);
	opacity: 0.25;
}

.about__body {
	max-width: 720px;
	padding: 1rem;
	margin: 0 auto;

	p {
		font-size: 1.25rem;
		line-height: 1.75rem;
		margin-bottom: 2rem;
	}
}

.about__button {
	display: inline-block;
	padding: 0.5em 1.5em;
	background: var(--clr-accent);
	color: var(--clr-dark);
	text-decoration: none;
	cursor: pointer;
	font-size: 0.8em;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: var(--fw-bold);
	transition: transform 200ms ease-in-out;
}

.about__button:hover {
	transform: scale(1.1);
}
