$hold-height: 4;
$hold-width: 4;
$block-size: 20px;

.hold {
	display: grid;
	grid-template-columns: repeat($hold-width, $block-size);
	grid-template-rows: repeat($hold-height, $block-size);
	border: 1px solid #262626;
	background-color: #262626;
	margin-right: 20px;
}
