$stage-height: 20;
$stage-width: 12;
$stage-size: 20px;
$trimmed-height: 2;
$trimmed-width: 4;
$trimmed-size: 12px;

@mixin board($rows: $stage-height, $cols: $stage-width, $size: $stage-size) {
	display: grid;
	grid-template-columns: repeat($cols, $size);
	grid-template-rows: repeat($rows, $size);
}

.default {
	@include board();
	gap: 1px;
	border: 1px solid #262626;
	background-color: #262626;
}

.square {
	@include board(4, 4, 1em);
}

.trimmed {
	@include board(2, 4, 12px);
}
