.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 5rem;
}

.tetris {
	background-color: var(--clr-accent);
	font-family: var(--ff-secondary);
	text-align: center;
	position: relative;
}

.tetris__toggle__wrapper {
	display: flex;
	justify-content: flex-end;
}

.tetris__toggle {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	cursor: pointer;
}

.tetris__grid {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-template-areas: "hold stage next" "info1 stage info2";
	column-gap: 1rem;
	padding: 1rem;
}

.hold {
	grid-area: hold;
	justify-self: flex-end;
}

.info1 {
	grid-area: info1;
	align-self: flex-end;
	text-align: right;
}

.stage {
	grid-area: stage;
}

.next {
	grid-area: next;
	justify-self: flex-start;
}

.info2 {
	grid-area: info2;
	align-self: flex-end;
	text-align: left;
}
