@mixin tetromino($color: transparent) {
	width: auto;
	border-width: 4px;
	border-style: solid;
	background-color: rgba($color, 0.8);
	border-top-color: rgba($color, 1);
	border-right-color: rgba($color, 1);
	border-bottom-color: rgba($color, 0.1);
	border-left-color: rgba($color, 0.3);
}

.I {
	@include tetromino($color: cyan);
}

.J {
	@include tetromino($color: blue);
}

.L {
	@include tetromino($color: orange);
}

.O {
	@include tetromino($color: yellow);
}

.S {
	@include tetromino($color: green);
}

.T {
	@include tetromino($color: purple);
}

.Z {
	@include tetromino($color: red);
}
